<div *ngIf="selectedTag" class="tag-filter-info">
  <nz-tag nzColor="blue">
    <span nz-icon nzType="tag" nzTheme="outline"></span>
    Đang lọc theo tag: {{ selectedTag }}
  </nz-tag>
  <button nz-button nzType="link" nzSize="small" (click)="clearTagFilter()">
    <span nz-icon nzType="close" nzTheme="outline"></span>
    Bỏ lọc
  </button>
</div>

<ng-container *ngIf="!loading; else loadingTpl">
  <div class="news-list-container">
    <app-feature-news-list [newsList]="newsList"></app-feature-news-list>
    <app-row-news-list [newsList]="newsList.slice(4)"></app-row-news-list>
  </div>
  <div style="text-align: center; margin-top: 24px" *ngIf="!allLoaded">
    <button
      nz-button
      nzType="primary"
      class="see-more-btn"
      (click)="loadMore()"
      [disabled]="loading"
    >
      Xem thêm
    </button>
  </div>
</ng-container>
<ng-template #loadingTpl>
  <nz-card nzTitle="Tin tức mới nhất" [nzSize]="'default'">
    <div style="text-align: center; padding: 40px">
      <nz-spin nzSize="large"></nz-spin>
    </div>
  </nz-card>
</ng-template>
