<div class="most-read-box">
  <h3>ĐỌC NHIỀU</h3>

  <div *ngIf="loading" class="loading">Đang tải...</div>

  <div *ngIf="!loading && mostReadNews.length === 0" class="no-data">
    Không có tin tức
  </div>

  <div *ngIf="!loading && mostReadNews.length > 0" class="news-list">
    <div *ngFor="let news of mostReadNews; let i = index" class="news-item">
      <div class="news-number">{{ i + 1 }}</div>
      <div class="news-content">
        <a [routerLink]="['/news', news.id]" class="news-title">
          {{ news.title }}
        </a>
        <div class="news-meta">
          <span class="news-date">{{ formatDate(news.publicationDate) }}</span>
          <span class="news-views" *ngIf="news.viewCount">
            ({{ news.viewCount }} lượt xem)
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
