<nz-modal
  [(nzVisible)]="visible"
  nzTitle="Danh sách theo dõi"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
  [nzWidth]="800"
>
  <ng-container *ngIf="stocks.length === 0">
    <div class="empty">Bạn chưa có mã nào trong danh sách theo dõi.</div>
  </ng-container>
  <ng-container>
    <table class="watchlist-table">
      <thead>
        <tr>
          <th>Mã</th>
          <th>Tên công ty</th>
          <th>Sàn</th>
          <th>Giá khớp</th>
          <th>Thay đổi</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.organName }}</td>
          <td>{{ stock.exchange }}</td>
          <td>{{ stock.matchPrice | number : "1.0-2" }}</td>
          <td>
            {{ stock.matchPrice - stock.referencePrice | number : "1.0-2" }}
          </td>
          <td>{{ stock.tradingStatus }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</nz-modal>
